.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login img {
  width: 20%;
  margin-bottom: 20px;
  margin-left: 20px;
}
.login a {
  padding: 20px;
  border-radius: 99px;
  background-color: #a98245;
  font-weight: 800;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 65%;
  left: 44%;
}
