.library {
  flex: 1;
  height: 120vh;
  color: white;
  padding: 30px;

  background: rgb(30, 30, 30);
  background: linear-gradient(
    90deg,
    rgba(30, 30, 30, 1) 6%,
    rgba(24, 24, 24, 1) 57%,
    rgba(24, 24, 24, 1) 100%
  );
  position: fixed;
  left: 17%;
  overflow-x: hidden;
  width: 85%;
}
